* {
    margin: 0;
    padding: 0;
}

.container{
    background-color: aqua;
    border: 1px solid green;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    background-color: bisque;
    display: flex;
    align-items: center;
    height: 85px;
    width: 100%;
    min-width: 120px;
    max-width: 30%;
    float: left;
}

.menu ul{
    margin-left: 40px;
}

.content{
    background-color: darkgray;
    width: 100%;
    min-width: 400px;
    max-width: 70%;
}

.content img{
    float: right;
    min-width: 200px;
    width: 50%;
}

.content p{
    clear: both;
}

.content p:first-of-type{
    clear: left;
}