html, p, body, h1, h3{
    padding: 0;
    margin: 0;
}

.header{
    margin: 0;
    padding: 0px;
    padding-bottom: 15px;
    background-color:#EAEAEA;
}

.header h2{
    margin:0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
}

.main{
    margin: 0;
    padding: 0;
    display: flex;
}

.left_column{
    max-width: 25%;
}

.left_column_content{
    margin: 0; padding: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #C8FC98;
}

.left_column_content span{
    color: red;
    font-style: italic;
}

.content_column{
    padding-left: 10px;
    padding-right: 10px;
}

.content_column span{
    color: red;
    font-style: italic;
}

.content_column p{
    display: inline;
}

.content_column h3{
    display: inline;
}

.right_column{
    background-color: #FDE95E;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 200px;
}

.right_column span{
    color: red;
    font-style: italic;
}

.footer{
    margin: 0;
    background-color: black;
    text-align: center;
    padding: 5px;
}

.footer a{
    color:#FDE95E;
}