html, body, div, p, footer, ul{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-color: aqua;
    margin: 10px;
}

.menu{
    background-color: bisque;
    width: 200px;
    float: left;
}

.menu ul{
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.content{
    background-color: darkgray;
    margin-left: 200px;
}

footer{
    background-color: limegreen;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}